.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* /// */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* border: 1px dotted red; */
  color: darkslategrey
}
body {
  background-color: whitesmoke;
}
#container, footer {
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  position: fixed;
  top: 0%;
  width: 100%;
  /* padding: 0 20px 0 20px; */
  overflow: hidden;
}
nav, footer {
  background-color: lightgrey;
  /* color: darkslategrey; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 10px black;
  /* position: fixed; */
  z-index: 100;
}
nav h1 {
  padding: 10px 0;
  font-size: 18px;
  margin-right: 10px;
  font-weight: bold;
  margin-top: 10px;
}
nav a {
  padding: 10px 0;
  font-size: 17px;
  margin-top: 10px;
  /* margin-right: 10px; */
}
.navDark a {
  color: lightgrey;
}
.navDark span {
  color: lightgrey;
}
nav a, footer {
  text-decoration: none;
  color: darkslategrey;
}
footer {
  padding: 10px 0;
  position: fixed;
  bottom: 0%;
  text-align: center;
  margin: 0;
}
footer img {
  cursor: pointer;
}
.footerDark, .navDark{
  background-color: rgb(50, 50, 50);
  box-shadow: 0 0 10px lightgrey;

}
.footerDark span {
  color: lightgrey;
}
#navLinksL {
  margin-right: 20px;
  /* padding: 10px; */
  display: flex;
}
#navLinksL a {
  display: flex;
  align-items:flex-end;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
}
#navLinksL .hidden {
  display: none;
}
#navLinksL a:last-child {
  display: none;
}
#navLinksS {
  display: none;
  /* margin-right: 50px; */
}
.navLinksSE {
  /* display: none; */
  flex-direction: column;
  position: fixed;
  top: 57px;
  right: 0%;
  background-color: lightgray;
  width: 60px;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  padding: 20px;
  gap: 30px;
  box-shadow: 0 0 10px black;
}
.navLinksSEDark {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 57px;
  right: 0%;
  background-color: rgb(50, 50, 50);
  width: 60px;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  padding: 20px;
  /* gap: 30px; */
  box-shadow: 0 0 10px lightgrey;
}
.navLinksSE a, .navLinksSEDark a {
  display: flex;
  align-items:flex-end;
  padding: 5px;
  border-radius: 15px;
  font-size: 14px;
}
.section {
  padding-top: 50px;
  width: 100%;
}
.sectionDark {
  padding-top: 50px;
  width: 100%;
  background-color: red;
}
main {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home {                                        
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  border-radius: 65px;
  border-radius: 35px;
  padding: 20px;
  margin-top: 50px;
  width: 350px;
}
.homeDark {                                        
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(50, 50, 50);
  color: lightgrey;
  border-radius: 65px;
  border-radius: 35px;
  padding: 20px;
  margin-top: 50px;
  width: 350px;
}
#introOne {
  /* margin: 0 0 0 640px; */
  /* align-items: right; */
  /* justify-content: center; */
  padding: 20px;
  background-color: seagreen;
  border-radius: 50px;
  border-radius: 25px;
  text-align: center;
  color: lightgrey;
  line-height: 15px;
}
#introOne>img {
  width: 260px;
  border-radius: 35px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 0;
}
#introOne h4, #introOne h2 {
  color: lightgrey;
  font-weight: bold;
}
#iconsDark {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}
#iconsDark img {
  margin: 10px 5px 0 5px;
  width: 30px;
}
#icons{
  display: flex;
  justify-content: space-evenly;
}
#icons img {
  margin: 10px 5px 0 5px;
  width: 30px;
}
#introTwo {
  padding-left: 20px;
  text-align: center;
  line-height: 1.5;
  width: 340px;
  padding-left: 0;
}
#introTwoDark {
  padding-left: 20px;
  text-align: center;
  line-height: 1.5;
  width: 340px;
  padding-left: 0;
}
#introTwo h2 {
  width: 276px;
  margin-left: 20px;
  font-weight: bold;
}
#introTwoDark h2 {
  width: 276px;
  /* line-height: 1.5; */
  margin-left: 20px;
  color: lightgrey;
  font-weight: bold;
}

#introTwo p {
  line-height: 1.2em;
  text-align: justify;
}

.about h2, .projects h2, .contact h2, .education h2 {
  background-color: lightgrey;
  /* width: 1280px; */
  text-align: center;
  padding: 10px 0 10px 0;
  box-shadow: 0 0 10px black;
  margin-bottom: 50px;
  width: 100%;
  font-weight: bold;
}
.aboutDark h2, .projectsDark h2, .contactDark h2, .educationDark h2 {
  background-color: rgb(50, 50, 50);
  color: lightgrey;
  /* width: 1280px; */
  text-align: center;
  padding: 10px 0 10px 0;
  box-shadow: 0 0 10px lightgrey;
  margin-bottom: 50px;
  width: 100%;
  font-weight: bold;
}
.contactDark label {
  color: lightgrey;
}
.content {
  margin: 0 auto;
  text-align: center;
  width: 560px;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 50px;
  width: 300px;
}
.contentDark {
  margin: 0 auto;
  text-align: center;
  width: 560px;
  background-color: rgb(50, 50, 50);
  color: lightgrey;
  padding: 20px;
  border-radius: 50px;
  width: 300px;
}
.contentDark p {
  color: lightgrey
}
.content h3, .content h4 {
  font-weight: bold
}
.content a {
  color: seagreen;
}
.contentDark a, .contentDark h3, .contentDark h4 {
  color: lightgrey;
  font-weight: bold
}

.about .content {
  line-height: 1.3;
  text-align: justify;    
}
.aboutDark .contentDark {
  line-height: 1.3;
  text-align: justify;    
}
.about p {
  padding: 10px;
}
.aboutDark p {
  padding: 10px;
  color: lightgrey;
}
.education li {
  margin-left: 9.75%;
  list-style: square;
  text-align: left;
}
.educationDark li {
  margin-left: 9.75%;
  list-style: square;
  text-align: left;
  color: lightgrey
}
.contact {
  margin-bottom: 50px;
}
form br.hidden {
  display: block;
}
.row>.form-floating>label {
  left: 10px
}
.custom-input:focus {
  border-color: #80ff8d;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 13, 0.25);
}
.lightText {
  color: lightgrey
}
table, th, td {
  border: 1px solid;
}
/* Pokemon */

.gameboy {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  background-color: seagreen;
  width: 375px;
  height: 600px;
  border-radius: 30px;
}
.gameboyScr {
  margin: 0 auto 0;
  padding: 35px 45px;
  margin-top: 10px;
  /* width: 76%; */
  height: 56%;

  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameboyScr p {
  font-weight: bold;
  /* margin-bottom: 20px; */
}
.js {
  background-color: whitesmoke;
  background: radial-gradient(circle at center, white 15px, aqua 45px, red 150px);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}
.js img {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  align-self: center;
  margin-top: 20px;
}
#textBox, #textBox2 {
  /* background-color: red; */
  color: gold;
  -webkit-text-stroke: 1px blue;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: monospace;
}
.pokeName {
  text-transform: capitalize;
}
.gameboy p {
  color: white;
  text-align: center;
  margin-top: -20px;
  font-size: 1.5rem;
}
.C {
  color: red;
}
.O {
  color: purple;
  font-size: 1.75rem;
}
.L {
  color: lime;
}
.O2 {
  color: yellow;
  font-size: 1.75rem;
}
.R {
  color: cyan;
}
.nintendo {
  text-align: center;
  padding: 3px 0;
  text-align: center;
  /* filter:opacity(50%); */
  margin: 5px 120px;
  font-size: 1.25rem;
  border: 2px solid rgb(57, 175, 108);
  border-radius: 25px;
  display: inline-block;
  color: rgb(57, 175, 108);
}
.gameboyCtrl{
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px;
}
.dpad {
  width: 139px;
  height: 105px;
  display: flex;
  flex-wrap: wrap;
  /* overflow:visible; */
}
.AB {
  /* width: 200px; */
  height: 75px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 25px
}
.A {
  align-self: flex-start;
}
.sqBtn, .activeBtn, .cirBtn {
  width: 35px;
  height: 35px;
}
.activeBtn, .cirBtn {
  cursor: crosshair;
}
.activeBtn, .cirBtn, .dot{
  background-color: rgb(151, 151, 151);
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkslategrey;
  font-weight: bold;
}
.cirBtn {
  border-radius: 100px;
}
.ss {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.ssBtn {
  width: 40px;
  height: 15px;
  background-color: rgb(151, 151, 151);
  border-radius: 16px;
  margin-bottom: 10px;
  
}
.start, .select {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ssText {
  color: rgb(57, 175, 108);
}
.sillhouette {
  filter: grayscale(100%) brightness(0);
}
.power {
position: relative;
top: 80px;
/* left: 480px; */
color: whitesmoke;
}
#space {
  text-decoration: none;
}


/* Media Queries */

@media screen and (width > 899px) {
  .home {
      flex-direction: row;
      width: 580px;
  }
  .homeDark {
      flex-direction: row;
      width: 580px;
      background-color: rgb(50, 50, 50);
      color: lightgrey;
  }
  #introTwo {
      margin-left: 20px;
      width: 560px;
  }
  #introTwoDark {
      /* margin-left: 20px; */
      width: 560px;
  }
  #introTwo h2 {
      width: 230px;
      margin-left: 0;
      font-weight: bold;
  }
  #introTwoDark h2 {
      width: 225px;
      margin-left: 20px;
      font-weight: bold;
      color: lightgrey
  }
  .content {
      width: 580px;
  }
  .contentDark {
      width: 580px;
  }
  form br.hidden {
      display: none;
  }
  form textarea {
      width: 425px;
  }
  #navLinksL {
      display: flex;
  }
  #navLinksL .hidden {
      display: inline;
  }
  #navLinksL a:last-child {
      display: none;
  }
  .navLinksSE, .navLinksSE a {
      display: none;
  }
  .navLinksSEDark, .navLinksSEDark a {
      display: none;
  }
  .education li {
      margin-left: 25.25%;
  }
  .educationDark li {
      margin-left: 25.25%;
      color: lightgrey;
  }
  .gameboy {
      display: flex;
  }
  video {
      display: none;
  }
}
@media screen and (width > 1919px) {
  nav a, nav h1 {
    font-size: 40px
  }
  .home {
      flex-direction: row;
      width: 1120px;
  }
  .homeDark {
      flex-direction: row;
      width: 1120px;
  }
  #introOne > img {
      width: 520px;
  }
  #introOne {
      font-size: 25px;
  }
  #introTwo h2 {
      width: 540px;
      margin-left: -20px;
      font-size: 40px;
      font-weight: bold;
  }
  #introTwoDark h2 {
      width: 560px;
      margin-left: -10px;
      font-size: 40px;
  }
  #introTwo img {
      width: 60px;
  }
  #introTwoDark img {
      width: 60px;
  }
  nav h1 {
      padding: 18px 0;
      font-size: 50px;
  }
  #navLinksL a {
      font-size: 20px;
      padding: 20px 35px 20px 20px;
      margin: 0 20px;
  }
  #navLinksL a img {
      height: 150%;
  }
  .home {
      width: 1120px;
      margin-top: 100px;
  }
  .homeDark {
      width: 1120px;
      margin-top: 100px;
  }
  .content {
      width: 1120px;
  }
  .contentDark {
      width: 1120px;
  }
  .content p {
      font-size: 24px;
  }
  .contentDark p {
      font-size: 24px;
      color: lightgrey
  }
  .education li {
      margin-left: 38%;
  }
  .educationDark li {
      margin-left: 38%;
  }
}
@media screen and (349px < width < 565px) {
  nav a {
    /* padding: 10px 0; */
    font-size: 16px;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
  }
  nav h1 {
      padding: 18px 0;
      font-size: 20px;
  }
  #navLinksL {
      display: none;
  }
  #navLinksL a:last-child {
      display: none;
  }
  #navLinksS {
      display: block;
      padding: 10px;
  }
  #introTwo h2 {
      width: 300px;
  }
  #introTwoDark h2 {
      width: 300px;
      color: lightgrey;
  }
  /* #navLinksSE {
      top: 10%;
  } */
  .education li {
      margin-left: 9.75%;
  }
  .educationDark li {
      margin-left: 9.75%;
  }
}
@media screen and (width < 350px) {
  nav h1 {
      padding: 18px 0;
      font-size: 20px;
  }
  .home {
      flex-direction: column;
      width: 265px;
  }
  #introOne > img {
      width: 225px;
  }
  #introTwo {
      width: 280px;
  }
  #introTwo h2 {
      width: 265px;
      margin-left: 7px;
  }
  #introTwoDark h2 {
      width: 265px;
      margin-left: 7px;
      color: lightgrey;
  }
  .content {
      width: 265px;
  }
  .contentDark {
      width: 265px;
  }
  video {
      width: 250px;
  }
  form br.hidden {
      display: block;
  }
  form textarea {
      width: 215px;
  }
  #navLinksL {
      display: none;
  }
  #navLinksL a:last-child {
      display: none;
  }
  #navLinksS {
      display: block;
      padding: 10px;
  }
  .education li {
      margin-left: 5.75%;
  }
  .educationDark li {
      margin-left: 5.75%;
  }
}

@media screen and (564px < width < 900px) {
  #navLinksL a {
      /* gap: 20px; */
      margin: 0 10px 0 10px;
  }
  .navLinksSE, .navLinksSE a {
      display: none;
  }
  .navLinksSEDark, .navLinksSEDark a {
      display: none;
  }
}
@media screen and (361px < width < 565px) {
  .navLinksSE {
      top: 79px;
  }
  .navLinksSEDark {
      top: 79px;
  }
}
@media screen and (251px < width < 362px) {
  .navLinksSE {
      top: 103px;
  }
  .navLinksSEDark {
      top: 103px;
  }
}
@media screen and (width < 252px) {
  .navLinksSE {
      top: 126px;
  }
  .navLinksSEDark {
      top: 126px;
  }
}

/* JS & MQ classes */
.shadow {
  position: relative;
  bottom: 10px;
  box-shadow: 5px 5px 5px grey !important;
  cursor: pointer;
  transition: 250ms;
}
.shadowNav {
  position: relative;
  bottom: 5px;
  box-shadow: 5px 5px 5px grey;
  cursor: pointer;
  color: lightgrey;
  background-color: seagreen;
  border-radius: 40px;
  padding: 5px;
  transition: 750ms;
}
.hide {
  display: none;
}
.navLiHover {
  /* background-color: seagreen; */
  color: lightgrey;
}

#toggle {
  display: flex;
}
/* This won't work because the ID has higher precedence over the class */